@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"); /* font를 추가한다. 이 경로는 google font에서 가져왔다. */
@import "reset.css"; /* 브라우저의 기본 CSS를 지우기 위한 CSS파일을 추가한다. */
@import "variables.css"; /* 색상 변수를 지정한 css파일*/

/* Components */
@import "components/status-bar.css"; /* status-bar에 대한 CSS를 다른 파일로 분리하였다. */
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/dot.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif; /*  */
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
