@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"); /* font를 추가한다. 이 경로는 google font에서 가져왔다. */
@import "reset.css"; /* 브라우저의 기본 CSS를 지우기 위한 CSS파일을 추가한다. */
@import "status-bar.css"; /* status-bar에 대한 CSS를 다른 파일로 분리하였다. */

body {
  font-family: "Open Sans", sans-serif; /*  */
}

.welcome-header {
  margin: 90px 0px;
  display: flex;
  flex-direction: column; /* 이 부분을 쓰지 않으면 가로 기준으로 정렬된다. */
  align-items: center;
  margin-top: 145px;
  text-align: center;
}

.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}
